body {
    background: #f4f4f4;
}

.login {
    margin-top: auto;
}

.login img {
    height: auto;
    max-width: 85%;
}


.container {
    /* Rectangle 3 */

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 90%;
    background: #F39200;
}

.container img {
    right: 1%;
    top: 50%;
    bottom: 50%;

    height: 70%;
    position: absolute;
    transform: translateY(-50%);
}

.container h1 {
    /* Lecture Connect */
    font-family: 'Copperplate Gothic Light', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.2vw;
    color: #F6F6F6;
}

