<div class="moveDownHeader">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">

    </ng-template>

    <ng-template pTemplate="left">
      <p-multiSelect [options]="headers" [(ngModel)]="selectedHeaders" optionLabel="header"
                     selectedItemsLabel="{0} columns selected" [style]="{'min-width': '200px', 'margin-right':'.4rem'}"
                     placeholder="Choose Columns"></p-multiSelect>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
               placeholder="Search..."/>
      </span>
    </ng-template>
    <ng-template pTemplate="right">
      <button pButton pRipple label="New" class="customButton" (click)="openNew()"></button>
      <button pButton pRipple label="Delete" id="del" class="customButton" (click)="deleteMultipleItems()"
              [disabled]="!selectedCourses || !selectedCourses.length"></button>
      <button pButton pRipple label="Import" class="customButton"></button>
      <button pButton pRipple label="Export" icon="pi pi-upload" class="customButton"></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="courses"
    [rows]="15"
    [columns]="selectedHeaders"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 15, 25, 50]"
    [paginator]="true"
    [globalFilterFields]="['id', 'lecturer', 'name']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedCourses"
    [filterDelay]="0"
    [rowHover]="true"
    dataKey="id">
    <ng-template pTemplate="header">
      <tr>
        <th id="check">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th class="flex-header"
            *ngFor="let col of selectedHeaders" [pSortableColumn]="col.field"
            pResizableColumn pReorderableColumn>
          <span>
            <p-sortIcon [field]="col.field"></p-sortIcon>
            {{ col.header }}
          </span>
          <p-columnFilter operator="or" [type]="!col.type ? 'text' : col.type" display="menu"
                          [field]="col.field"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-u>
      <tr>
        <td>
          <p-tableCheckbox [value]="u"></p-tableCheckbox>
        </td>
        <td *ngFor="let col of selectedHeaders">
          <ng-container>
            {{ u[col.field] }}
          </ng-container>
        </td>
        <td>
          <p-button pButton pRipple
                    icon="pi pi-pencil" class="mr-2"
                    [rounded]="true" [outlined]="true" severity="success"
                    (click)="editItem(u)"/>

          <p-button pButton pRipple icon="pi pi-trash" severity="danger"
                    [rounded]="true" [outlined]="true"
                    (click)="deleteSingleItem(u)"/>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="itemDialogVisible" [style]="{width: '1000px', height:'650px'}"
          header="Lecture Creation" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content" class="parent">
    <div class="div-container">

      <div class="rand" style="width: 15%">
        <label for="type">Type</label>
        <p-dropdown id="type" [options]="getRoleOptions()" [(ngModel)]="singleCourse.courseType"
                    placeholder="select a Type"/>
      </div>

      <div class="rand" style="width: 35%">
        <label for="id">Course ID</label>
        <input type="text" pInputText id="id" required autofocus
               [disabled]="itemIsEdited" [(ngModel)]="singleCourse.id"/>
        <small class="p-error" *ngIf="!singleCourse.id">ID is required.</small>
      </div>

      <div class="rand" style="width: 50%">
        <label for="name">Name</label>
        <input type="text" pInputText id="name" required autofocus
               [(ngModel)]="singleCourse.name"/>
        <small class="p-error" *ngIf="!singleCourse.name">Name is required </small>
      </div>
    </div>

    <div class="rand">
      <label for="lecturer">Lecturer</label>
      <input type="text" pInputText id="lecturer" [(ngModel)]="singleCourse.lecturer" autofocus/>
    </div>

    <div class="rand">
      <label for="duration">Duration in Minutes</label>
      <input type="number" pInputText id="duration" [(ngModel)]="singleCourse.duration" autofocus/>
    </div>

    <div class="rand">
      <label for="allowed">Allowed number of participants</label>
      <input type="number" pInputText id="allowed" [(ngModel)]="singleCourse.numberOfParticipants" autofocus/>
    </div>

    <div class="div-container">
      <div class="rand">
        <label for="op2">computers needed?</label>
        <p-selectButton id="op2" [options]="stateOptions" [(ngModel)]="singleCourse.computersNecessary"
                        optionLabel="label" optionValue="value"></p-selectButton>
      </div>

      <div class="rand">
        <label for="op3">Course split?</label>
        <p-selectButton id="op3" optionLabel="label" optionValue="value"
                        [options]="stateOptions" [(ngModel)]="singleCourse.isSplit"/>
      </div>
    </div>


    <div class="rand">
      <label for="times">Number of splits</label>
      <input type="number" pInputText id="times" autofocus
             [(ngModel)]="singleCourse.splitTimes" [disabled]="!singleCourse.isSplit"/>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="saveNewItem()" [disabled]="!singleCourse.id && !singleCourse.name"></button>
  </ng-template>
</p-dialog>
