<div class="Context">
  <p-pickList
    [source]="availableRooms"
    [target]="roomTables"
    sourceHeader="Available Rooms"
    targetHeader="Selected Rooms"
    [dragdrop]="true"
    [responsive]="true"
    [sourceStyle]="{ height: '30rem' }"
    [targetStyle]="{ height: '30rem' }"
    filterBy="name"
    sourceFilterPlaceholder="Search by name"
    targetFilterPlaceholder="Search by name"
    breakpoint="1400px">
    <ng-template let-room pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3">
        <div class="flex-1 flex flex-column gap-2">
                    <span class="font-bold">
                        {{ room.id }}
                    </span>
          <div class="flex align-products-center gap-2">
            <span>
              Capacity: {{ room.capacity }}
            </span>
          </div>
        </div>
        <span class="font-bold text-900">
                   Computers available: {{ room.computersAvailable ? 'yes' : 'no' }}
        </span>
      </div>
    </ng-template>
  </p-pickList>
</div>

<p-dialog [(visible)]="CreateDialogVisible" [style]="{ width: '47rem', height: '25rem' }"
          header="Room Creation" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content" class="parent">
    <div class="rand">
      <label for="nameRoom">Name of room</label>
      <input type="text" pInputText id="nameRoom" required autofocus
             [(ngModel)]="draggedRoom!.id"/>
      <small class="p-error" *ngIf="!draggedRoom!.id">Name is needed!</small>
    </div>
    <div class="div-container">
      <div class="rand">
        <label for="capacity">Capacity</label>
        <input type="number" pInputText id="capacity" [(ngModel)]="draggedRoom!.capacity" required autofocus/>
        <small class="p-error" *ngIf="!draggedRoom!.capacity">We need to know the room size.</small>
      </div>

      <div class="rand">
        <label for="op1">Computers available?</label>
        <p-toggleButton id="op1"
          [(ngModel)]="draggedRoom!.computersAvailable"
          onLabel="Yes" offLabel="No" />
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="saveNewItem()" [disabled]="!draggedRoom!.id && !draggedRoom!.capacity"></button>
  </ng-template>
</p-dialog>


