<div class="Context" #container>
  <p-pickList
    [source]="availableRooms"
    [target]="roomTables"
    sourceHeader="Available Rooms"
    targetHeader="Selected Rooms"
    [dragdrop]="true"
    [responsive]="true"
    [sourceStyle]=getTableSettings(container)
    [targetStyle]=getTableSettings(container)
    filterBy="name"
    sourceFilterPlaceholder="Search by name"
    targetFilterPlaceholder="Search by name"
    breakpoint="1400px">
    <ng-template let-room pTemplate="item">
      <div class="room-item-container">
        <div class="room-info">
          <span class="room-id">{{ room.id }}</span>
          <div class="room-details">
            <span>Capacity: {{ room.capacity }}</span>
          </div>
        </div>
        <span class="computers-available">
      Computers available: {{ room.computersAvailable ? 'yes' : 'no' }}
    </span>
      </div>
    </ng-template>

  </p-pickList>
</div>


