<div class="container">
  <div id="wrapperLeftButtons" >
    <div class="item" *ngIf="isLoggedIn()" >
      <button pButton type="button" label="Connector" class="headerButton"
              (click)="redirectToPage('/user/home')"></button>
    </div>
    <div class="item" *ngIf="isLoggedIn()" >
      <button pButton type="button" label="Courses" class="headerButton"
              (click)="redirectToPage('/user/courses')"></button>
    </div>
    <div class="item" *ngIf="isLoggedIn()" >
      <button pButton type="button" label="Rooms" class="headerButton"
              (click)="redirectToPage('/user/rooms')"></button>
    </div>
  </div>

  <h1>{{ pageTitle }}</h1>

  <div id="wrapperRightButtons">
    <div class="itemRight" *ngIf="isLoggedIn() && hasAdminRole()" >
      <button pButton type="button" label="Table Management" class="headerButton"></button>
    </div>
    <div class="itemRight" *ngIf="isLoggedIn() && hasAdminRole()">
      <button pButton type="button" label="Users" class="headerButton"
              (click)="redirectToPage('/admin/users')"></button>
    </div>
    <div class="itemRight" *ngIf="isLoggedIn()">
      <button pButton type="button" label="logout" class="headerButton"
              (click)="logout()"></button>
    </div>
    <div class="itemRight">
      <img src="assets/universitaet-innsbruck-logo-cmyk-graustufen.jpg" alt="Uibk Logo"/>
    </div>
  </div>
</div>
