
<img src="./assets/rip.gif" alt="you are lost" style="position: absolute; top: 52%; left: 49.5%; transform: translate(-49.5%, -52%); font-size: 35px; align-content: center">

<p style="position: absolute; top: 20%; left: 50%; transform: translate(-50%, -20%); font-size: 35px; align-content: center">
  There was an error while finding your page! (404)
</p>

<div style="position: absolute; top: 72%; left: 50%; transform: translate(-50%, -72%); font-size: 35px; align-content: center">
  <p-button pButton pRipple severity="danger" label="back to login"
            (click)="redirectToLoginPage()"/>
</div>
