<div class="Context">
  <div class="col-left" style="width: 85%">
    <div id="scrollable-calendar">
      <full-calendar *ngIf=showCalendar() [options]='calendarOptions()'/>
    </div>
    <div *ngIf="!showCalendar()" class="center-content">
      <br><br><br><br><br><br><br><br><br><br>
      <p style="font-size: 1.5rem; color:var(--system-color-primary-blue)">
        fast! go and choose a room!
      </p>
      <i class="pi pi-bolt" style="font-size: 1.5rem; color:var(--system-color-primary-blue)"></i>
    </div>
  </div>
  <div class="col-left" style="width: 15%">
    <div id="vertical-grid">
      <div id="upperSection">
        <p-dropdown id="type" [options]="globalTable.roomTables" [(ngModel)]="selectedRoom"
                    placeholder="select a Room" optionLabel="id"/>
        <br>
        <p-button label="Computer Sciene" icon="pi pi-microchip"
                  [style]="getButtonStyle(CourseColor.COMPUTER_SCIENCE)"/>
        <br>
        <p-button label="other studies" icon="pi pi-asterisk"
                  [style]="getButtonStyle(CourseColor.NONE)"/>

      </div>
      <div id="lowerSection">
        <p-button label="finish" icon="pi pi-flag" [style]="getButtonStyle(CourseColor.DEFAULT)"/>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Add Event" [(visible)]="showTimeDialog" [modal]="true" [closable]="false"
          [style]="{'top.px': dialogTop, 'left.px': dialogLeft}">
  <div class="p-fluid">
    <div class="p-field">
      <label for="title">Title</label>
      <input id="title" type="text" pInputText [(ngModel)]="eventTitle"/>
    </div>
    <div class="p-field">
      <label for="start">Start Time</label>
      <input id="start" type="datetime-local" pInputText [(ngModel)]="eventStartTime"/>
    </div>
    <div class="p-field">
      <label for="end">End Time</label>
      <input id="end" type="datetime-local" pInputText [(ngModel)]="eventEndTime"/>
    </div>
    <div class="p-field">
      <button pButton type="button" label="Save" icon="pi pi-check" (click)="saveEvent()"></button>
      <button pButton type="button" label="Cancel" icon="pi pi-times" (click)="cancelEvent()"
              class="p-button-secondary"></button>
    </div>
  </div>
</p-dialog>
