<p-toast></p-toast>
<div class="moveDownHeader">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">

    </ng-template>

    <ng-template pTemplate="left">
      <p-multiSelect [options]="headers" [(ngModel)]="selectedHeaders" optionLabel="header"
                     selectedItemsLabel="{0} columns selected" [style]="{'min-width': '200px', 'margin-right':'.4rem'}"
                     placeholder="Choose Columns"></p-multiSelect>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" placeholder="Search..."/>
      </span>
    </ng-template>
    <ng-template pTemplate="right">
      <button pButton pRipple label="New" class="customButton" (click)="openNew()"></button>
      <button pButton pRipple label="Delete" id="del" class="customButton" (click)="deleteMultipleItems()"
              [disabled]="!selectedItems || !selectedItems.length"></button>
      <button pButton pRipple label="Import" class="customButton"></button>
      <button pButton pRipple label="Export" icon="pi pi-upload" class="customButton"></button>
    </ng-template>
  </p-toolbar>

  <p-table
    [value]="items"
    [rows]="selectedItems?.length"
    [columns]="selectedHeaders"
    [paginator]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedItems"
    [rowHover]="true"
    dataKey="id">
    <ng-template pTemplate="header">
      <tr>
        <th id="check" style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th id="" class="flex-header"
            *ngFor="let col of selectedHeaders" [pSortableColumn]="col.field"
            pResizableColumn pReorderableColumn>
          <span>
            <p-sortIcon [field]="col.field"></p-sortIcon>
            {{ col.header }}
          </span>
          <p-columnFilter operator="or" [type]="!col.type ? 'text' : col.type" display="menu"
                          [field]="col.field"></p-columnFilter>
        </th>
        <th>
          <span>
            Edit
          </span>
        </th>
        <th>
          <span>
            Delete
          </span>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr [pSelectableRow]="items">
        <ng-container *ngFor="let col of selectedHeaders">
          <td>
            <ng-container>
              {{ item ? items : [col.field] }}
            </ng-container>
          </td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                    (click)="editItem(item)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                    (click)="deleteSingleItem(item)"></button>
          </td>
        </ng-container>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="itemDialog === '/rooms' && itemDialogVisible"
          header="Room Creation" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content" class="parent">
    <div class="rand">
      <label for="nameRoom">Name of room</label>
      <input type="text" pInputText id="nameRoom" [(ngModel)]="allVariables.idRoom" required autofocus/>
      <small class="p-error" *ngIf="!allVariables.idRoom">Name is needed!</small>
    </div>
    <div class="div-container">
      <div class="rand">
        <label for="capacity">Capacity</label>
        <input type="number" pInputText id="capacity" [(ngModel)]="allVariables.capacity" required autofocus/>
        <small class="p-error" *ngIf="!allVariables.capacity">We need to know the room size.</small>
      </div>

      <div class="rand">
        <label for="op1">Computers available?</label>
        <p-selectButton id="op1" [options]="allVariables.stateOptions" [(ngModel)]="allVariables.computersAvailable"
                        optionLabel="label" optionValue="value"></p-selectButton>
      </div>
    </div>
    <app-calendar></app-calendar>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveNewItem()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="itemDialog === '/lectures' && itemDialogVisible"
          header="Lecture Creation" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content" class="parent">
    <div class="div-container">

      <div class="rand" style="width: 10%">
        <label for="type">Type</label>1
        <p-dropdown id="type" [options]="getCourseOptions()" [(ngModel)]="allVariables.courseType"
                    placeholder="select a Type"/>
      </div>

      <div class="rand" style="width: 40%">
        <label for="id">Course ID</label>
        <input type="number" pInputText id="id" [(ngModel)]="allVariables.idCourse" required autofocus/>
        <small class="p-error" *ngIf="!allVariables.idCourse">ID is required.</small>
      </div>

      <div class="rand" style="width: 50%">
        <label for="name">Name</label>
        <input type="text" pInputText id="name" [(ngModel)]="allVariables.name" required autofocus/>
        <small class="p-error" *ngIf="!allVariables.name">Name is required </small>
      </div>
    </div>

    <div class="rand">
      <label for="lecturer">Lecturer</label>
      <input type="text" pInputText id="lecturer" [(ngModel)]="allVariables.lecturer" autofocus/>
    </div>

    <div class="rand">
      <label for="duration">Duration in Hours</label>
      <input type="number" pInputText id="duration" [(ngModel)]="allVariables.duration" autofocus/>
    </div>

    <div class="rand">
      <label for="allowed">Allowed number of participants</label>
      <input type="number" pInputText id="allowed" [(ngModel)]="allVariables.numberOfParticipants" autofocus/>
    </div>

    <div class="div-container">
      <div class="rand">
        <label for="op2">computers needed?</label>
        <p-selectButton id="op2" [options]="allVariables.stateOptions" [(ngModel)]="allVariables.computersNecessary"
                        optionLabel="label" optionValue="value"></p-selectButton>
      </div>

      <div class="rand">
        <label for="op3">Course split?</label>
        <p-selectButton id="op3" optionLabel="label" optionValue="value"
                        [options]="allVariables.stateOptions" [(ngModel)]="allVariables.isSplit"/>
      </div>
    </div>


    <div class="rand">
      <label for="times">Number of splits</label>
      <input type="number" pInputText id="times" autofocus
             [(ngModel)]="allVariables.splitTimes" [disabled]="!allVariables.isSplit"/>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveNewItem()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="itemDialog === '/users' && itemDialogVisible"
          header="User Creation" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content" class="parent">
    <div class="div-container">
      <div class="rand">
        <label for="Username">Username</label>
        <input type="text" pInputText id="Username" [(ngModel)]="allVariables.username" required autofocus/>
        <small class="p-error" *ngIf="!allVariables.username">Username is required </small>
      </div>

      <div class="rand">
        <label for="pwd">Password</label>
        <input type="password" pInputText id="pwd" [(ngModel)]="allVariables.password" required autofocus/>
        <small class="p-error" *ngIf="!allVariables.password">Password is required </small>
      </div>
    </div>
    <div class="div-container">
      <div class="rand">
        <label for="fname">First Name</label>
        <input type="text" pInputText id="fname" [(ngModel)]="allVariables.firstName" autofocus/>
      </div>

      <div class="rand">
        <label for="lname">Last Name</label>
        <input type="text" pInputText id="lname" [(ngModel)]="allVariables.lastName" autofocus/>
      </div>
    </div>

    <div class="rand">
      <label for="role">Roles</label>
      <p-dropdown id="role" [options]="getRoleOptions()" [(ngModel)]="allVariables.role"
                  placeholder="select a Type" [editable]="true"/>
    </div>

    <div class="rand">
      <label for="mail">E-Mail</label>
      <input type="text" pInputText id="mail" [(ngModel)]="allVariables.email" autofocus/>
    </div>
    <br>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveNewItem()"></button>
  </ng-template>
</p-dialog>
