.moveDownHeader {
  position: absolute;
  bottom: 70%;
  width: 100%
}

.customButton{
  background-color: #003361;
  border-color: #003361;
  color: #f4f4f4;

  margin-left: .4rem;
  border-radius: 10px;
}

#del {
  background-color: #AD5353;
  border-color: #AD5353;
}

.parent {
  display: flex;
  flex-direction: column;
}

.div-container {
  display: flex;
  flex-direction: row;
}

.rand { margin: .4rem .4rem .4rem .4rem; }

