.moveDownHeader {
  width: 100%;
  position: absolute;
  top: 4%;
  left: 0;
}

.customButton {
  background-color: var(--system-color-primary-blue);
  border-color: var(--system-color-primary-blue);
  color: var(--system-color-primary-white);

  margin-left: .4rem;
  border-radius: 10px;
}

#del {
  background-color: #AD5353;
  border-color: #AD5353;
}

.parent {
  display: flex;
  flex-direction: column;
}

.div-container {
  display: flex;
  flex-direction: row;
}

.rand {
  margin: .4rem .4rem .4rem .4rem;
}

.input-container {
  display: flex;
  width: 100%;
  justify-content: space-between; /* Optional: adjust space between blocks */
}
.input-block {
  display: flex;
  flex-direction: column;
  flex: 1; /* Optional: to make input blocks take equal space */
  margin-right: 1rem; /* Optional: to add space between blocks */
}
.input-block:last-child {
  margin-right: 0; /* Optional: remove the margin for the last block */
}
