<div id="grid">
  <div id="div1">
    <p-menu [model]="items">
      <ng-template pTemplate="start">
        <span class="text"> Global Table View </span>
      </ng-template>

      <ng-template pTemplate="submenuheader" let-item style="background: blueviolet">
        <span class="text-primary font-bold">{{ item.label }}</span>
      </ng-template>

      <ng-template pTemplate="item" let-item>
        <a pRipple class="flex align-items-center p-menuitem-link">
          <span [class]="item.icon" style="margin-right: .8rem"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </ng-template>
    </p-menu>
  </div>

  <div id="div2">
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <button pButton type="button" icon="pi pi-calendar-plus"
                class="headerButton" (click)="showTableDialog()" style="margin-right: .5rem"></button>
        <button pButton type="button" icon="pi pi-pen-to-square"
                class="headerButton" (click)="editTable()"></button>
      </div>
      <div class="p-toolbar-group-center">
        <p-carousel
          [value]="availableTables"
          [numVisible]="3"
          [numScroll]="1"
          [circular]="false"
          [showIndicators]="false"
          [responsiveOptions]="responsiveOptions">
          <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 p-3">
              <div class="mb-3">
                <div class="relative mx-auto">
                  <p-tag
                    [value]="product.workStatus"
                    [severity]="getSeverity(product.workStatus)"
                    class="absolute"
                    [ngStyle]="{ 'left.px': 5, 'top.px': 5 }"/>
                </div>
              </div>
              <div class="mb-3 font-medium">
                {{ product.name }}
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <div class="p-toolbar-group-end">
        <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto"/>
      </div>
    </p-toolbar>
  </div>

  <div id="div3">
    <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()'/>
  </div>
</div>

<p-dialog [(visible)]="showNewTableDialog"
          header="Lecture Creation" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content" class="parent">
      <label for="type">Type</label>
      <p-dropdown id="type" [options]="getSemesterOptions()" [(ngModel)]="timeTable.semester"
                  placeholder="select a Type"/>

      <label for="year">Year</label>
      <p-calendar type="number" view="year" dateFormat="yy" id="year" required autofocus
             [(ngModel)]="timeTable.year" />
      <small class="p-error" *ngIf="!timeTable.year">for Simplification needed</small>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideTableDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="createNewTable()"></button>
  </ng-template>
</p-dialog>
