<p-dialog
  header="Header" (close)="closeView()"
  [(visible)]="visible" [modal]="false" [closable]="true"
  [style]="{ width: '55rem', 'height':'25rem' }" [position]="'bottomright'">
  <ng-template pTemplate="header">
    Table Changes
  </ng-template>
  this is a test
  <p-table
    [value]="(changes | async)!"
    [columns]="cols"
    styleClass="p-datatable-striped">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-table>
  and this is a test
  <ng-template pTemplate="footer">
    currently shown Table: {{ tableName?.name }} {{ tableName?.semester }} {{ tableName?.year }}
  </ng-template>
</p-dialog>
