<div class="login" style="overflow: hidden">
    <form class="case" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <span class="ui-float-label">
      <input name="username" type="text" formControlName="username" placeholder="enter your username ...">
    </span>

    <span class="ui-float-label">
      <p-password type="password" formControlName="password" placeholder="Password" [feedback]="false"
                  [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"/>
    </span>

    <span class="ui-float-label">
      <button pButton pRipple="submit" label="Submit" class="headerButton"></button>
    </span>
    </form>
  <img src="/assets/login.jpg" alt="background pic"/>
</div>
