<div class="container">
  <div id="wrapperLeftButtons" >
    <div class="item">
      <button pButton type="button" label="Connector" class="headerButton" ></button>
    </div>
    <div class="item">
      <button pButton type="button" label="Lectures" class="headerButton" ></button>
    </div>
    <div class="item">
      <button pButton type="button" label="Rooms" class="headerButton" ></button>
    </div>
  </div>

  <h1>{{pageTitle}}</h1>

  <div id="wrapperRightButtons">
    <div class="itemRight">
      <button pButton type="button" label="Users" class="headerButton" ></button>
    </div>
    <div class="itemRight">
      <button pButton type="button" label="logout" class="headerButton" ></button>
    </div>
    <div class="itemRight">
      <img src="assets/universitaet-innsbruck-logo-cmyk-graustufen.jpg" alt="Uibk Logo"/>
    </div>
  </div>

</div>
