<div class="Context">
  <p-pickList
    [source]="availableCourses"
    [target]="courseTable"
    sourceHeader="Available Courses"
    targetHeader="Selected Courses"
    [dragdrop]="true"
    [responsive]="true"
    [sourceStyle]="{ height: '30rem' }"
    [targetStyle]="{ height: '30rem' }"
    filterBy="name"
    sourceFilterPlaceholder="Search..."
    targetFilterPlaceholder="Search..."
    breakpoint="1400px">
     <ng-template let-product pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3">
        <div class="flex-1 flex flex-column gap-2">
          <span class="font-bold">
            {{ product.name }}
          </span>
          <div class="flex align-products-center gap-2">
            <i class="pi pi-tag text-sm"></i>
            <span>
              {{ product.courseType }}
            </span>
            <span>
              Semester: {{ product.semester }}
            </span>
          </div>
        </div>
      </div>
    </ng-template>
  </p-pickList>
</div>

<p-dialog [(visible)]="CreateDialogVisible" [style]="{width: '1000px', height:'650px'}"
          header="Lecture Creation" [modal]="true" styleClass="p-fluid">

  <ng-template pTemplate="content" class="parent">
    <div class="div-container">

      <div class="rand" style="width: 15%">
        <label for="type">Type</label>
        <p-dropdown id="type" [options]="getRoleOptions()" [(ngModel)]="draggedCourse!.courseType"
                    placeholder="select a Type"/>
      </div>

      <div class="rand" style="width: 35%">
        <label for="id">Course ID</label>
        <input type="text" pInputText id="id" required
               [(ngModel)]="draggedCourse!.id"/>
        <small class="p-error" *ngIf="!draggedCourse!.id">ID is required.</small>
      </div>

      <div class="rand" style="width: 50%">
        <label for="name">Name</label>
        <input type="text" pInputText id="name" required autofocus
               [(ngModel)]="draggedCourse!.name"/>
        <small class="p-error" *ngIf="!draggedCourse!.name">Name is required </small>
      </div>
    </div>
    <div class="div-container">
      <div class="rand" style="width: 50%">
        <label for="lecturer">Lecturer</label>
        <input type="text" pInputText id="lecturer" [(ngModel)]="draggedCourse!.lecturer"/>
      </div>

      <div class="rand" style="width: 50%">
        <label for="degree">Study Degree</label>
        <p-dropdown id="degree" [options]="getDegreeOptions()" [(ngModel)]="draggedCourse!.studyType"
                    placeholder="select Study degree"/>
      </div>
    </div>

    <div class="rand">
      <label for="duration">Duration in Minutes</label>
      <input type="number" pInputText id="duration" [(ngModel)]="draggedCourse!.duration"/>
    </div>

    <div class="div-container">
      <div class="rand" style="width: 30%">
        <label for="allowed">Allowed number of participants</label>
        <input type="number" pInputText id="allowed" [(ngModel)]="draggedCourse!.numberOfParticipants"/>
      </div>

      <div class="rand" style="width: 30%">
        <label for="op2">computers needed?</label>
        <p-toggleButton id="op2" onLabel="Yes" offLabel="No" [(ngModel)]="draggedCourse!.computersNecessary"/>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="saveNewItem()" [disabled]="!draggedCourse?.id && !draggedCourse?.name"></button>
  </ng-template>
</p-dialog>
