<div class="Context" #container>
  <p-pickList
    [source]="availableCourses"
    [target]="courseTable"
    sourceHeader="Available Courses"
    targetHeader="Selected Courses"
    [dragdrop]="true"
    [responsive]="true"
    [sourceStyle]=getTableSettings(container)
    [targetStyle]=getTableSettings(container)
    filterBy="name"
    sourceFilterPlaceholder="Search..."
    targetFilterPlaceholder="Search..."
    breakpoint="400px">
    <ng-template let-product pTemplate="item">
      <div class="item-container">
        <div class="row justify-between">
          <span class="product-name">{{ product.name }}</span>
          <span class="study-type">{{ product.studyType }}</span>
        </div>
        <div class="row gap">
          <i class="pi pi-tag icon"></i>
          <span>{{ product.courseType }}</span>
          <span>Semester: {{ product.semester }}</span>
        </div>
      </div>
    </ng-template>
  </p-pickList>
</div>
