<div class="moveDownHeader">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">

    </ng-template>

    <ng-template pTemplate="left">
      <p-multiSelect [options]="headers" [(ngModel)]="selectedHeaders" optionLabel="header"
                     selectedItemsLabel="{0} columns selected" [style]="{'min-width': '200px', 'margin-right':'.4rem'}"
                     placeholder="Choose Columns"></p-multiSelect>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
               placeholder="Search..."/>
      </span>
    </ng-template>
    <ng-template pTemplate="right">
      <button pButton pRipple label="New" class="customButton" (click)="openNew()"></button>
      <button pButton pRipple label="Import" class="customButton"></button>
      <button pButton pRipple label="Export" icon="pi pi-upload" class="customButton"></button>
    </ng-template>
  </p-toolbar>

  <p-treeTable [value]="tables" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}" #dt>
    <ng-template pTemplate="header">
      <tr>
        <th id="" class="flex-header"
            *ngFor="let col of selectedHeaders" [pSortableColumn]="col.field"
            pResizableColumn pReorderableColumn>
          <span>
            <p-sortIcon [field]="col.field"></p-sortIcon>
            {{ col.header }}
          </span>
          <p-columnFilter operator="or" [type]="!col.type ? 'text' : col.type" display="menu"
                          [field]="col.field"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr [ttRow]="rowNode">
        <td>
          <p-treeTableToggler [rowNode]="rowNode" />
          {{ rowData.name }}
        </td>
        <td>{{ rowData.size }}</td>
        <td>{{ rowData.type }}</td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>
