.context {
  position: fixed;

  left: 0;
  right: 0;
  bottom: .5rem;
  margin-left: auto;
  margin-right: auto;

  width: 98%;
  height: 94%;
  background-color: #E2E1DF;
  border-radius: 15px;
}

.col-left {
  display: inline-block;
  align-content: baseline;
  text-align: center;
  border-radius: 15px;
}

#dragEvents{
  display: inline-block;
  align-content: baseline;
  text-align: center;
  max-height: 82vh;
  width: 95%;
  overflow-y: scroll;
}
#calendarScroll{
  overflow-y: auto;
  max-height: 86vh;
  height: 100%;

}

.fc-event{
  background-color: #6e6e6e;
  color: white;
  border-radius: 8px;
  border: 1px solid #4e4e4e;
  width: 100%;
  min-height: 3rem;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 5px;
  align-content: center;
}

.event-time {
  font-size: var(--fc-small-font-size);
}

.event-title {
  font-size: 1rem; /* Normal size for the title */
  font-weight: normal; /* Regular weight */
  margin-top: 5px; /* Space between time and title */
  line-height: 1.2; /* Better line spacing */
}
