<br>
<br>
<br>
<br>
<br>
<br>
<div class="card-container">
  <div *ngFor="let page of pageContent; index as i;">
    <div class="custom-card">
      <h2>
        {{ page.header }}
      </h2>
      <h4>
        {{ page.text }}
      </h4>

      <ng-template ngFor let-button [ngForOf]="page.buttons" pTemplate="footer">
        <p-button
          [label]="button.text"
          [style]="{'background-color': button.color, 'border-color':button.color}">
        </p-button>
      </ng-template>
    </div>
  </div>
</div>
