<div class="moveDownHeader">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">

    </ng-template>

    <ng-template pTemplate="left">
      <p-multiSelect [options]="headers" [(ngModel)]="selectedHeaders" optionLabel="header"
                     selectedItemsLabel="{0} columns selected" [style]="{'min-width': '200px', 'margin-right':'.4rem'}"
                     placeholder="Choose Columns"></p-multiSelect>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
               placeholder="Search..."/>
      </span>
    </ng-template>
    <ng-template pTemplate="right">
      <button pButton pRipple label="New" class="customButton" (click)="openNew()"></button>
      <button pButton pRipple label="Import" class="customButton"></button>
      <button pButton pRipple label="Export" icon="pi pi-upload" class="customButton"></button>
    </ng-template>
  </p-toolbar>

  <p-treeTable [value]="tables" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}" #dt>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of selectedHeaders">
          {{ col.header }}
        </th>
        <th>
          Delete
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr [ttRow]="rowNode">
        <td *ngFor="let col of selectedHeaders; let i = index">
          <p-treeTableToggler [rowNode]="rowNode" *ngIf="i===0"></p-treeTableToggler>
          {{ rowData[col.field]}}
        </td>
        <td>
          <p-button pButton pRipple icon="pi pi-trash" severity="danger"
                    [rounded]="true" [outlined]="true"
                    (click)="deleteSingleItem(rowData['id'])"/>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>
