<div class="moveDownHeader">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">

    </ng-template>

    <ng-template pTemplate="left">
      <p-multiSelect [options]="headers" [(ngModel)]="selectedHeaders" optionLabel="header"
                     [style]="{'min-width': '200px', 'margin-right':'.4rem'}"
                     placeholder="Choose Columns"/>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
               placeholder="Search..."/>
      </span>
    </ng-template>
    <ng-template pTemplate="right">
      <button pButton pRipple label="New" class="customButton" (click)="openNew()"></button>
      <button pButton pRipple label="Import" class="customButton"></button>
      <button pButton pRipple label="Export" icon="pi pi-upload" class="customButton"></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="tables"
    [globalFilterFields]="['id']"
    [(selection)]="selectedTable"
    [columns]="selectedHeaders"
    dataKey="id">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th>Details</th>
        <th>Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
        <td style="width: 5%">
          <p-button pButton pRipple icon="pi pi-eye" severity="info" (click)="deleteSingleItem()"/>
        </td>
        <td style="width: 5%">
          <p-button pButton pRipple icon="pi pi-trash" severity="danger" (click)="deleteSingleItem()"/>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
